# Test results

## Exponential integral $\mathrm{Ei}(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|7.17e-15|1.21e-15|

![exponential_integral_ei](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/exponential_integral_ei.svg)

## Exponential integral $\mathrm{E}_1(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|8.67e-19|8.72e-21|

![exponential_integral_e1x](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/exponential_integral_e1x.svg)

## Exponential integral $\mathrm{E}_1(z)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|3.66e-12|6.03e-15|

![exponential_integral_e1z](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/exponential_integral_e1z.svg)

## Bessel function $J_0(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|8.81e-16|1.46e-16|

![bessel_j0](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/bessel_j0.svg)

## Bessel function $J_1(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|9.89e-16|1.34e-16|

![bessel_j1](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/bessel_j1.svg)

## Bessel function $Y_0(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|8.05e-16|1.07e-16|

![bessel_y0](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/bessel_y0.svg)

## Bessel function $Y_1(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|8.19e-16|1.14e-16|

![bessel_y1](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/bessel_y1.svg)

## Gauss hypergeometric function ${}_2F_1(0.5, b; 1.5; z)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|3.27e-04|7.75e-07|

![hypergeometric_hyp2f1](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/hypergeometric_hyp2f1.svg)

## Struve function $\mathbf{H}_0(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|9.71e-16|2.52e-16|

![struve_h0](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/struve_h0.svg)

## Struve function $\mathbf{H}_1(x)$

| Maximum Error | Average Error  |
| :-----------: | :------------: |
|1.22e-15|2.85e-16|

![struve_h1](https://raw.githubusercontent.com/rodpcastro/colspecf/refs/heads/main/test/test_plots/struve_h1.svg)

