# Test results

## Exponential integral $\mathrm{Ei}(x)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|7.17e-15|1.15e-15|

![exponential_integral_ei](exponential_integral_ei.svg)

## Exponential integral $\mathrm{E}_1(x)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|8.67e-19|8.72e-21|

![exponential_integral_e1x](exponential_integral_e1x.svg)

## Exponential integral $\mathrm{E}_1(z)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|3.66e-12|6.03e-15|

![exponential_integral_e1z](exponential_integral_e1z.svg)

## Bessel function $J_0(x)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|8.81e-16|1.44e-16|

![bessel_j0x](bessel_j0x.svg)

## Bessel function $J_1(x)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|9.89e-16|1.33e-16|

![bessel_j1x](bessel_j1x.svg)

## Bessel function $Y_0(x)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|8.05e-16|1.06e-16|

![bessel_y0x](bessel_y0x.svg)

## Bessel function $Y_1(x)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|8.19e-16|1.13e-16|

![bessel_y1x](bessel_y1x.svg)

## Gauss hypergeometric function ${}_2F_1(a, b; c; z)$

| Maximum Error | Average Error  |
| ------------- | -------------- |
|3.27e-04|7.75e-07|

![hypergeometric_hyp2f1](hypergeometric_hyp2f1.svg)

